@using Orchard.DisplayManagement.Shapes
@using Orchard.Layouts.Helpers
@{
    var tagBuilder = TagBuilderExtensions.AddCommonElementAttributes(new OrchardTagBuilder("div"), Model);
    var isEmpty = tagBuilder.Attributes.Count == 0;
}

@if(!isEmpty){
    <text>@tagBuilder.StartElement</text>
}
<div class="container">
    @DisplayChildren(Model)
</div>
@if(!isEmpty){
     <text>@tagBuilder.EndElement</text>
}
