@using Orchard.DisplayManagement.Shapes
@using Orchard.Layouts.Helpers
@{
    var tagBuilder = TagBuilderExtensions.AddCommonElementAttributes(new OrchardTagBuilder("div"), Model);
}
@tagBuilder.StartElement
<div class="container">
    @DisplayChildren(Model)
</div>
@tagBuilder.EndElement
