/* Design colors */
/* CBCA colors  V1
@cbca-far-bg:        #77ba9b;
@cbca-background:       #fff;
@cbca-menu-color:       #293e6a;
@cbca-major-heading-color:#77ba9b;
@cbca-heading-color:    @gray-dark;
@cbca-text-color:       @gray;
@cbca-donor-heading-color:green;
@cbca-footer-bg:        #77ff9b;
@cbca-footer-color:     @gray-dark;
    */
/* Map design colors to cbca web */
/*@cbca-hilight:          #77ba9b;*/
