@import "site-default.less";
@import "bootswatch/cbca_national-bootswatch.less";
@import "bootswatch/cbca_national-variables.less";

// CBCA Theme Dave Gardner Cascade Pixels 2016
// Swatch specific alterations to match CADEM (http://entiri.net/cadem_wb/index.html)
// License purchased (License ID: 751ce043-768f-4e1b-9ede-74b38eb1442f)


.navbar.navbar-default {
    .navbar-toggle {
        float: none;
        background-color: #fff;
    }

    .navbar-collapse {
        @media(min-width: @grid-float-breakpoint) {
            border-bottom: 1px solid #cbcfd1;
            margin-top: 25px;
        }

        .nav {
            font-size: @font-size-nav;

            > li:not(:last-child) {
                border-right: 1px solid @gray-lighter;
            }

            > li {
                &.active > a, > a:hover {
                    border-bottom: 2px solid @cbca-light;
                }

                > a {
                    border-bottom: 2px solid transparent;
                    padding: @nav-link-padding;
                }
            }
            // nested dropdown menus are different
            .dropdown .dropdown-menu {
                padding: 0;
                background-color: @gray-lighter;

                li {
                    padding: 3px 0;

                    > a {
                        &:hover {
                            color: @cbca-light;
                        }
                    }
                }

                li:not(:last-child) {
                    border-bottom: 1px solid @gray-light;
                }
            }
        }
    }
}


// space above featured item
@featured-item-top-margin: 10px;

// Allow header to scroll but fix navbar at top
.fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

// compensate for menu height once navbar is fixed
.padfix {
    margin-top: @navbar-height;
}

#layout-featured {
    margin-top: @featured-item-top-margin;
    display: none;

    @media(min-width: @grid-float-breakpoint) {
        display: block;
    }
}

html.floating-nav.fluid-layout .navbar-wrapper .navbar.navbar-default {
    padding-left: 0;
    padding-right: 0;
}



// You need to set the color here as well as in the bootswatch
html.floating-nav.fluid-layout {
    #layout-header, .navbar-wrapper {
        background-color: @navbar-default-bg; /* or @navbar-inverse-bg */
    }

    .navbar-header {
        .navbar-brand {
            padding: 0;
            height: auto;
        }
    }

    .navbar-wrapper {
        padding: 0;

        .navbar {
            .container();
            box-shadow: none;
            background-color: @gray-lighter; /* or @navbar-inverse-bg */
            /*background-color: transparent;*/
            @media(min-width: @grid-float-breakpoint) {
                background-color: @navbar-default-bg; /* or @navbar-inverse-bg */
            }
        }
    }
}


// This overrides a negative margin setting in nav.less
@media (min-width: @grid-float-breakpoint) {
    .navbar > #layout-navigation .navbar-brand {
        margin-left: 0;
    }
}

// We are struggling for menu space so hide branding if screen is narrow
/*@media(max-width:1199px) {
    .navbar-brand {
        display: none;
    }
}*/



// Not yet supported by any major browser but we live in hope
.smoothscroll {
    scroll-behavior: smooth;
}

.widget-header {
    // Main CBCA branding
    padding-top: 5px;

    h1 {
        margin: 0 0 10px 0;
        font-weight: 700;
    }

    .btn-header {
        padding: 0;
        background-color: transparent;
        border: #999 1px solid;
        color: #565656 !important;
        text-shadow: none;
        margin: 0 17px 5px 0;
        width: 40px;
        height: 40px;
        overflow: hidden;
        display: inline-block;
        text-decoration: none !important;
        text-align: center;
        cursor: pointer;
        font-style: normal;
        letter-spacing: 0em !important;
        border-radius: 3px;

        i {
            font-size: 27px;
            margin-top: 4px;
        }

        &:hover {
            background-color: @cbca-light !important;
            color: #fefefe !important;
        }
    }

    .cbca-header {
        margin-right: -45px;
        margin-top: 15px;

        @media( min-width: @screen-md) {
            margin-top: 30px;
        }
    }

    .social-block {
        margin-top: 3px;

        @media (min-width: @screen-sm) {
            text-align: right;
        }
    }
    // Muck around with display-inline to get search form submit button on same line as text
    .search-inline {
        @media (min-width: @screen-md) {
            text-align: right;
        }

        .form-field-element {
            display: inline;

            input {
                display: inline;
                width: auto;
            }
        }
    }
    // cbca logo at top left
    img {
        height: 120px;
        margin-left: 0;
        margin-top: 15px;
    }
}



.span-sponsors {
    background-color: @cbca-light;
    font-size: .9em;
    color: ghostwhite;

    h3 {
        font-size: 1.8rem;
        color: ghostwhite;
    }
}


.span-footer {
    background-color: @cbca-medium;
    color: ghostwhite;

    a {
        color: ghostwhite;
    }

    h3 {
        font-size: 1.8rem;
        color: #f5f5f5;
    }

    .link-col-1 {
        width: 45%;
    }
}




/* Make the default search list display 
    a wrapped list of tiles instead of a simple list*/
ul.search-results.content-items {
    li {
        display: inline-block;
    }
}

/* Apply the class .book-list to the List Class in the Query */
ul.book-list {
    li {
        display: inline-block;
    }
}

article.book.content-item {
    display: inline-block;
}

.category-heading {
    .h4();
    font-weight: 600;
    color: @gray-dark;
    width: 100%;
    padding: 10px;
    background-color: @cbca-light-background;
}

/* summary display for a book */
.book-summary {
    height: 250px;
    /*margin: 10px 5px;*/
    table {
        width: 350px;
        /*table-layout:fixed;*/
        .image {
            width: 150px;
            overflow: hidden;

            img {
                max-height: 250px;
                width: 150px;
            }
        }

        .detail {
            line-height: 1.1;
            font-size: 18px;

            .gongs {
                padding: 3px;
                text-align: center;
                display: none; // suppresses '(none)'
                &.Winner {
                    background-color: gold;
                    text-shadow: 0 0 2px #fff;
                    font-weight: bold;
                    color: black;
                    display: block;
                }

                &.Honours {
                    background-color: silver;
                    color: #fff;
                    text-shadow: 0 0 2px #333;
                    display: block;
                }

                &.Notable {
                    background-color: brown;
                    color: white;
                    display: block;
                }

                &.Shortlisted {
                    background-color: @gray-lighter;
                    display: block;
                }
            }

            .title {
                margin-top: 3px;
                margin-bottom: 10px;
            }

            .byLine {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .summary, .publisher, .isbn {
                font-size: 11px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

/* detail display for a book */
.book-detail {

    .image {
        img {
            width: 100%;
        }
    }

    .detail {
        line-height: 1.1;
        margin-top: 10px;

        @media (min-width: @screen-sm) {
            margin-top: 0;
        }

        .gongs {
            padding: 7px;

            &.Winner {
                background-color: gold;
                text-shadow: 0 0 2px #fff;
                font-weight: bold;
                color: black;
            }

            &.Honours {
                background-color: silver;
                color: #fff;
                text-shadow: 0 0 2px #333;
            }

            &.Notable {
                background-color: brown;
                color: white;
            }

            &.Shortlisted {
                background-color: @gray-lighter;
            }
        }


        .byLine {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 110%;
        }

        .summary, .publisher, .isbn, .link-field {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.widget-tripel-featured {
    #tripel-featured-panel {
        margin-top: 2em;
        padding: 30px 0 20px 0;
        background-color: @cbca-light-background;
    }

    .tripel-featured-icon {
        height: 80px;
        width: auto;
    }
}
// Reinstate normal ul/li style which is bastardized by Bootswatch.
// But don't reinstate for Orchard templates that rely on it.
// :not(.search-results, .projection)
#layout-main {
    ul {
        padding-left: 0;
        list-style: none;

        li {
            background: url('/Themes/cbca_national/Content/Arrow3.png') left center no-repeat;
            list-style: none;
            margin-bottom: 15px;
            padding-left: 30px;
        }
    }

    ol {
        padding-left: 40px;
        list-style: decimal;
    }

    ul.content-items, ul.pagination {
        padding-left: 0;
        list-style: none;

        li {
            background: none;
            margin-bottom: 15px;
            padding-left: 0;
        }
    }

    ol.content-items {
        padding-left: 0;
        list-style: none;
    }

    article.projection-page {
        ul, ol {
            padding-left: 0;
            list-style: none;

            li {
                background: none;
                margin-bottom: 15px;
                padding-left: 0;
            }
        }
    }
    // make blog (blogPost summary list) into container
    article.blog.content-item {
        .container();

        > ul.blog-posts {
            .row();

            > li {
                .make-sm-column(12);
            }
        }
    }
}




// Applied to right-hand column of welcome page
.gray-background {
    background-color: @cbca-light-background;
    border: 1px solid @cbca-border;
    padding: 10px;
    margin-top: 20px;
}
// Diary Dates
.diary-dates {
    .container();

    h1 {
        .h2();
        font-weight: 600;
        color: @gray-dark;
    }
}

table.diary-dates {
    width: 100%;
}
// Miscellaneous
address {
    font-style: italic;
}
// Headings
h1 {
    margin-top: 42px;
    margin-bottom: 42px;
}


h2, h3, h4, h5 {
    margin-top: 42px;
    margin-bottom: 24px;
    font-weight: 600;
    color: @gray-dark;
}

/* Breadcrumbs */
article.widget-breadcrumbs {
    .container();

    nav {
        .row();

        ul.breadcrumb {
            .make-sm-column(12);
        }
    }
}
